<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<div>
  <h1 class="text-center p-4 bg-success">
    welcome to the XOXO 
  </h1>

    <marquee><p class="text-dark" style="font-family: Impact; font-size: 15pt">  THE GAME BEGINS...</p></marquee>

  
  <div class="main-app">
    <app-board></app-board>
  </div>
</div>